/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/

body {
  font-family: 'Quicksand', sans-serif;
  background: linear-gradient(#134d71, #78a7c6, #f7e4bf)
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

h1, h3 {
  color: #ffffff;
}

/* h1 {
  margin-bottom: 0;
} */

h3 {
  margin-bottom: 0;
  padding: 5px
}

.button-box {
  background-color: #ffffff;
  width: 38%;
  border-radius: 4px;
  /* padding-top: 10px;
  padding-bottom: 5px;
  padding-right: 40px;
  padding-left: 40px; */
  padding: 10px 20px 5px;
}

.message-box {
  background-color: #ffffff;
  width: 65%;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.radio-buttons {
  display: flex;
  justify-content: space-around;
}

.receive-button-box {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.recieve-msg-button {
  background-color: #134d71;
  color: #ffffff;
  padding-right: 14px;
  padding-left: 14px;
}

input {
  margin-right: -70px
}
